/node_modules/
/package-lock.json
/.idea/
/.venv
/xcore_framework/.env
/xcore_framework/database/
/xcore_framework/runtimes/bash/*
/xcore_framework/runtimes/java/*
/xcore_framework/runtimes/node/*
/xcore_framework/runtimes/powershell/*
/build/
/dist/
/xcore_framework.egg-info/
/.tox/
/.pypirc
/dev/frontend/web/node_modules
/dev/frontend/web/package-lock.json
/__pycache__/
/.pdm-python
/.mypy_cache
/.pytest_cache
/xcore_framework/logs/
/xcore_framework/.init.xcore
/tmp/
